.cls-1 {
  isolation: isolate;
}

.cls-2 {
  opacity: 0.28;
}

.cls-2,
.cls-6 {
  mix-blend-mode: screen;
}

.cls-3 {
  opacity: 0.43;
  mix-blend-mode: multiply;
}

.cls-4 {
  fill: #4795f6;
}

.cls-5 {
  mask: url(#mask);
}

.cls-6 {
  opacity: 0.36;
}

.cls-7,
.cls-8 {
  fill: #fff;
}

.cls-8 {
  opacity: 0.25;
}

.cls-9 {
  filter: url(#luminosity-noclip);
}